
$background-dark: #0c0c0c;
$white: #fff;
$grey: grey;
$light-grey: rgb(212, 212, 212);
$border-color: rgb(225, 225, 225);


$font-family: 'Arial', sans-serif;


$transition-time: 0.3s;
$border-radius: 5px;
